*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #111;
}
.container{
    margin-top: 20px;
}
.nav
{
    background: black;
}
.container-fluid
{
    background: black;
}

.container-fluid img
{
    width: 200px;
    height: 150px;
}
.card
{
    margin-right: 40px;
    margin-bottom: 20px;
    background: #111;
    color: #fff;
    transition: 0.5s;
}
.card::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ffbc00,#ff0058);
}
.card::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ffbc00,#ff0058);
    filter: blur(30px);
}
.card:nth-child(2)::before,
.card:nth-child(2)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(3)::before,
.card:nth-child(3)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(5)::before,
.card:nth-child(5)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(6)::before,
.card:nth-child(6)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(8)::before,
.card:nth-child(8)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(9)::before,
.card:nth-child(9)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(11)::before,
.card:nth-child(11)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(12)::before,
.card:nth-child(12)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(14)::before,
.card:nth-child(14)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(15)::before,
.card:nth-child(15)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(17)::before,
.card:nth-child(17)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(18)::before,
.card:nth-child(18)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(20)::before,
.card:nth-child(20)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(21)::before,
.card:nth-child(21)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(23)::before,
.card:nth-child(23)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(24)::before,
.card:nth-child(24)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(26)::before,
.card:nth-child(26)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(27)::before,
.card:nth-child(27)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(29)::before,
.card:nth-child(29)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(30)::before,
.card:nth-child(30)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(32)::before,
.card:nth-child(32)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(33)::before,
.card:nth-child(33)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(35)::before,
.card:nth-child(35)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(36)::before,
.card:nth-child(36)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(38)::before,
.card:nth-child(38)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(39)::before,
.card:nth-child(39)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(41)::before,
.card:nth-child(41)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(42)::before,
.card:nth-child(42)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(44)::before,
.card:nth-child(44)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(45)::before,
.card:nth-child(45)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(47)::before,
.card:nth-child(47)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(48)::before,
.card:nth-child(48)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(50)::before,
.card:nth-child(50)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(51)::before,
.card:nth-child(51)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card:nth-child(53)::before,
.card:nth-child(53)::after
{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}
.card:nth-child(54)::before,
.card:nth-child(54)::after
{
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
.card span
{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;

}
.card span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}
.card .card-body
{
    position: relative;
    z-index: 10;
}
.card-body button 
{
    align-items: center;
    margin-left: 20px;
    border: none;
    background: none;
    color: aqua;
}
.detail-container .card
{
    margin-left: 35%;
}